.vscode
.idea
.DS_Store
.Rproj.user
.Rhistory
.RData
.RData.lock
.Rhistory
.Rproj.user
.Rhistory
presentations/.vscode
presentations/shiny-introduction/.vscode
presentations/shiny-introduction/.Rhistory
presentations/shiny-introduction/.Rproj.user
presentations/setup-github-for-making-a-static-website/.vscode
presentations/shiny-introduction/.Rproj.user
presentations/shiny-introduction/.Rhistory
